.petCard {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  /* Rectangle 6 */
  display: block;
  width: 270px;
  height: 208px;
  border-radius: 10px;
}
.description {
  gap: 20px;
  color: rgba(0, 0, 0, 1);

  font-family: 'Montserrat';
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 1220px) {
  .image {
    width: 250px;
  }

  .petCard:last-child {
    display: none;
  }
}
